<div class="main_frame ">
  <form (ngSubmit)="submit()">
    <div class="sub_frame ">
      <input type="text" [(ngModel)]="number" placeholder="calculator">
      <div class="action ">
        <button class="btn rounded-1 btn-outline-dark">+</button>
        <button class="btn rounded-1 btn-outline-dark">-</button>
        <button class="btn rounded-1 btn-outline-dark">/</button>
        <button class="btn rounded-1 btn-outline-dark">*</button>
        <button type="submit" class="btn rounded-1 btn-outline-dark">></button>
      </div>
    </div>
  </form>
  <p *ngIf="result !== null">Result: {{ result }}</p>
</div>